.wy-side-nav-search > a, .wy-side-nav-search > a:hover
{
    text-indent: -9999px;
    width: 100%;
    background: url('dinamus360.svg') 0em no-repeat;
    text-align: center;
    padding: 7px 23px 7px 10px;
}

.wy-side-nav-search input[type=text]
{
    border-radius: 0;
    margin-left: 0; 
} 